*.npy filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/soachatbot/idx_a.npy filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/soachatbot/runtime.txt filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/soachatbot/*.txt filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/soachatbot/weights/*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/soachatbot/weights/*.ckpt-43000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/soachatbot/weights/*.* filter=lfs diff=lfs merge=lfs -text
